@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Path_First_Title"] = "/";
    ViewData["Path_Second_Title"] = "/Home/Gallery";
    ViewData["Path_TitlePage"] = "/Home/Description";
    ViewData["TitlePage"] = ViewLocalize["Description_Title"];
    ViewData["First_Title"] = ViewLocalize["Main_Title"];
    ViewData["Second_Title"] = ViewLocalize["Gallery_Title"];
    ViewData["Contact_us"] = ViewLocalize["Contact_us"];
    ViewData["Phone"] = ViewLocalize["Phone"];
    
}

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
	                <div class="title_main">
	                    <h3><i class="fas fa-ship"></i>@ViewLocalize["OnTheBoat"]</h3>
                    </div>
	                <p>
                        @ViewLocalize["DescriptionOnTheBoat"]
                    </p>
                </div>
            </div>     
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
	                <div class="title_main">
	                    <h3><i class="fas fa-server"></i>@ViewLocalize["Equipment"]</h3>
                    </div>
	                <p>
                        @ViewLocalize["DescriptionEquipment"]
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                
	                <div class="title_main">
	                    <h3><i class="fas fa-drafting-compass"></i>@ViewLocalize["Characteristics"] </h3>
                    </div>
                    <p>
                        @ViewLocalize["DescriptionCharacteristics"]
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
	                <div class="title_main">
	                    <h3><i class="fas fa-exclamation-triangle"></i>@ViewLocalize["Important_Information"]</h3>
                    </div>
	                <p>@ViewLocalize["DescriptionImportant_Information"]</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
	                <div class="title_main">
	                    <h3><i class="far fa-list-alt"></i>@ViewLocalize["Description"]</h3>
                    </div>
	                <p>@ViewLocalize["DescriptionYacht"]</p>
                </div>
            </div>
        </div>
    </div>
</div> 
